body{
    overflow-x: hidden;
}
.wrap-login{
    width: 100%;
    height: 100vh;

}
.bg-img{
    background-image: url('../images/bg-mobil.jpg');
    background-repeat:no-repeat;
background-size:cover;

height: 100vh;
background-position:center;
}
.wrap-logo{
    text-align: center;
}
.wrap-logo img{
    width: 150px;
}
.tilte{
    text-align: center;
}
.tilte h2{
    font-weight: 700;
}
.tes {
    display: flex; /* Menggunakan flexbox untuk centering */
    justify-content: center; /* Centering secara horizontal */
    align-items: center; /* Centering secara vertikal */
  margin-top: 3rem;

}

.wrap-input {
    width: 70%;

}
